
body{
    #app{
        height: 50px;
        p{
            text-align: center;
        }
        .routate-box{
            width: 20px;
            height: 30px;
            transform: translateX(100px) rotate(30deg);
            border: 1px solid blue;
        }
    }
}